name: nobodd-test-suite

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            python: "3.10"
            experimental: false
          - os: ubuntu-24.04
            python: "3.11"
            experimental: false
          - os: ubuntu-24.04
            python: "3.12"
            experimental: false
          - os: ubuntu-24.04
            python: "3.13"
            experimental: false
          - os: ubuntu-24.04
            python: "3.14"
            experimental: false

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - name: Install Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Checkout nobodd
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          make develop

      - name: Run tests
        run: |
          make test
